body {
	background-image: url("images/cheap_diagonal_fabric.png");
}

p {
	text-align: left;
	color: #777777;
}

h3 {
	color: #4aaaa5;
}

div img.me {
	width: 100%;
	height: auto;
}

li {
	font-size: 20px;
}

hr {
	margin-left: 50px;
	margin-right: 50px;
}


#footer {
	height: 70px;
	background-color: lightgray;
}

#footer>p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #777777;
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
}

.port {
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	margin-top: -20px;
	padding-top: 20px;

}

#brand {
	background-color: #4aaaa5;
	font-size: 1.5em;
	color: white;
}

.img-thumbnail {
	width: 20%;
	height: auto;
	border-bottom: : 10px solid #4aaaa5;
}

.connect_group {
	padding-left: 15px:;
}

.btn-default {
	background-color: #4aaaa5;
	color: white;
}

div a img.portfolio_pics {
	width: 30%;
	height: auto;
	margin: 30px 20px;
	display: inline-block;
	
}

@media only screen and (max-width: 992px) {

	div img.img-thumbnail {
		width: 50%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	div.connect_group a img {
		width: 20%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
	}

	div a img.portfolio_pics {
		width: 45%;
		height: auto;
		margin: 15px 15px;
		display: inline-block;
	}
}



